{% extends "ShortLinks/Global/layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block content %}


    <div class="card w4 middle my-2">
        <div class="card-body">
            <h5 id="" class="card-title">
                Register
            </h5>
        </div>
        <form action="" method="post">
            {% csrf_token %}
            <ul class="list-group list-group-flush">
                {% if error %}
                    <li class="list-group-item">
                        <h5 class="text-danger">{{ error }}</h5>
                    </li>
                {% endif %}
                <li class="list-group-item">
                    <div class="form-group">
                        <input type="text" class="form-control" name="username" placeholder="Username"/>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" id="TTL" placeholder="Password"
                               required>
                    </div>
                    <button type="submit" class="btn btn-primary">Register</button>
                </li>
            </ul>
        </form>
    </div>
{% endblock %}